body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    overflow: hidden;
}

main {
    position: fixed;
    top: 30vh;
    width: 100vw;
    text-align: center;
}

canvas {
    width: 100vw;
    height: 100vh;
}

main a {
    color: #999;
    margin: 0 1rem;
}
a:hover {
    color: white;
}

footer {
    position: fixed;
    bottom: 1rem;
    text-align: center;
    width: 100vw;
    color: #aaa;
}

footer a,
footer a:visited,
footer a:hover {
    color: #aaa;
    text-decoration: none;
}